<div class="container">
  <h1>{{ 'info.about.head' | translate }}</h1>
  <p>Since 2004, DSpace, which we have branded K-State Research Exchange (K-REx), showcases a variety of content including digital scholarship created by K-State scholars and K-State libraries digital collections. K-REx is globally accessible by anyone with access to the Internet. Generally, only members of the KSU academic community may upload content. </p>

  <h2>Digital Scholarship</h2>
  <p>
    These items are research or creative works developed or produced by K-State faculty, staff, or students in a born digital or digitized format.  The level of preservation for these works varies depending on whether they are published in a commercial entity and/or readily available elsewhere, or are unique to K-State.  If unique to K-State, content may require a higher level of preservation (e.g theses, dissertations and reports).  Digital scholarship is typically under the purview of the Center for the Advancement of Digital Scholarship working with accepted practices for supplying metadata and access.  K-REx staff searches major journal databases, such as Web of Science, on a scheduled basis to identify recent publications by KSU faculty. When a publisher pdf is not permissible to load we contact faculty to obtain the necessary file(s) and comply with publisher policies.
  </p>
  <h2>Digital Collections</h2>
  <p>
    These works may be digitized from print sources, or be born-digital.  In many cases, but not all, the content will be unique to K-State and housed in University Archives and Special Collections (UASC). The focus is on long-term collections, and varying degrees of preservation, in which best practices will be followed. Depending on defined needs, new formatting may be part of the digitization and/or preservation life cycle. The digitization process is typically under purview of the Digital Initiatives Unit, following accepted standards/best practices for the entire process, including metadata and project management.  Digital Collections make it possible for unique materials that are fragile or difficult to access in their original format to be accessible for research and enjoyment.  For more information on K-State Digital Collections, visit <a href="https://lib.k-state.edu/research-find/digital-archives/">https://lib.k-state.edu/research-find/digital-archives/</a>.
  </p>

  <h2>Contact</h2>
    <p>For questions about content found within the Digital Collections, please contact:</p>
    <p>Digital Initiatives Unit</p>
    <p>
      <a href="mailto:digcoll@k-state.edu">digcoll@k-state.edu</a>
    </p>
    <br />
    <br />
    <p>For all other questions, please contact:</p>
    <p>Center for the Advancement of Digital Scholarship</p>
    <p>Hale Library 113</p>
    <p>785-532-7444</p>
    <p>
      <a href="mailto:cads@k-state.edu">cads@k-state.edu</a>
    </p>

  <h2>Vision</h2>
  <p>
      To become the primary online resource for the discovery of Kansas State University's scholarship and history.
  </p>

  <h2>Mission</h2>
  <p>
    K-REx will have a direct impact on the University's goal to become one of the top 50 public research universities by 2025 by collecting, distributing, and storing the research and scholarship produced by faculty, staff, and students along with the unique materials of historical importance to elevate the visibility of the academic success of the university.
  </p>

  <h2>Benefits</h2>
  <ul>
    <li>Complements traditional publishing and expedites immediate access to your scholarly work through green archiving.</li>
    <li>Asserts copyright ownership, while allowing you to freely, legally link to your digital output.</li>
    <li>Satisfies some funders requirements to publicly disseminate the results of grant generated research.</li>
    <li>Optimized for visibility through Google and other search engines, resulting in more frequently citation, more visibility, and greater impact.</li>
    <li>Preservation and increasing accessibility will increase citation rates and highlight the accomplishments of this campus.</li>
    <li>Free access to your important research. In a time when the average annual scholarly journal subscription costs $1,200, open-access is more important than ever before.</li>
    <li>Central location for archived content.</li>
    <li>Safe “home” for grey information resources, such as reports, image galleries, data, and other material that is important to scholars but is not typically published in traditional channels.</li>
    <li>Access to K-State Special Collections and Archives materials</li>
  </ul>

  <h2>Security</h2>
  <p>
    The DSpace system is backed up locally via Amazon Web Services on a nightly basis; a process which includes all application code and assets. Changes to Archival Information Packets (assets) in DSpace are also pushed to DuraCloud on a nightly basis. All content will be preserved indefinitely in its current format, unless a specific request for removal of a specific item is directed to the IR manager. There is no guarantee that content will be migrated to new formats. Digital Collections may be deaccessioned according to their policies and agreements.
  </p>
  <h3>Copyright</h3>
  <p>
    When an article is accepted for publication in a journal, many publishers require authors to sign an agreement transferring copyright to the publisher. We work closely with publishers and faculty authors to ensure compliance with these agreements.  If in doubt you should contact the original publishers for copyright information.
  </p>
  <p>
    Authors and creators who submit original works retain full copyright, however, some items may have a creative commons license applied to the content so please check individual item records to review rights information.
  </p>
  <p>
    Digital Collections within K-Rex have varied copyright according to their agreements.  Please review the individual item for copyright.
  </p>
  <p>
    Graduate students retain all copyright when they submit their theses, dissertations, and reports.
  </p>
  <p>
    If you need further copyright assistance or believe that your copyrighted material has been deposited into K-REx without consent please <a href="mailto:cads@k-state.edu">contact us</a> immediately.
  </p>


  <h2>Submit Content</h2>
     <p>
        We are committed to assisting faculty, staff, and students in all stages of the deposit process; from managing their work to optimize access and readership, to helping to ensure long-term preservation of the digital scholarship in its current format.  If you feel that your material would be an appropriate addition please <a href="mailto:cads@k-state.edu">contact the administrator</a>.
     </p>
     <p>
        Our content harvests do not retrieve all scholarly work, so faculty are encouraged to alert us to journal articles, book chapters, conference papers, and other works they would like to add to K-REx.  To submit, simply <a href="https://kstate.qualtrics.com/jfe/form/SV_8pGts2e6MLVapKd">complete an online form</a> or <a href="mailto:cads@k-state.edu">contact us by e-mail</a>.  We will work with you to get the information and files we need and deposit your work.
     </p>
     <p>
        If you are a student of K-State, your graduate level Electronic Thesis, Dissertations, and Reports will be submitted to K-REx as a part of your graduation process.  Other undergraduate and graduate content can be added with support of your department or department faculty.  Please work with your department to have your content added.
     </p>

  <h2>Department Visits</h2>
     <p>
        We are glad to come to your department anytime to discuss K-REx.  In addition library experts can provide instruction or consultations with issues related to:
     </p>
     <ul>
        <li>Author Rights/Copyright</li>
        <li>Data Management</li>
        <li>Digitization</li>
        <li>Metadata</li>
        <li>Open Access</li>
        <li>Project Management</li>
        <li>Publishing</li>
     </ul>


  <h2>General Information on Institutional Repositories (IR)</h2>
    <h3>What is an IR?</h3>
    <p>
      An institutional repository (IR) is a system that manages and showcases digital materials created or acquired by an institution and enables digital preservation.  Additional information concerning IRs can be found in these articles:
    </p>
    <p>
      Lynch, Clifford A. "Institutional Repositories: Essential Infrastructure for Scholarship in the Digital Age" ARL, no. 226 (February 2003): 1-7.
        <a href="http://www.arl.org/resources/pubs/br/br226/br226ir.shtml">http://www.arl.org/resources/pubs/br/br226/br226ir.shtml</a>
    </p>
    <p>
      "Institutional Repository." Wikipedia, the Free Encyclopedia. <a href="https://wikimediafoundation.org/">https://wikimediafoundation.org/</a>, 12 Aug. 2011. Web. 19 Aug. 2011.  <a href="https://en.wikipedia.org/wiki/Institutional_repository">https://en.wikipedia.org/wiki/Institutional_repository</a>.
    </p>

    <h3>What system supports this IR?</h3>
    <p>
      The system is supported by DSpace (Version 6). Find out more information on our version of DSpace here: <a href="https://wiki.lyrasis.org/display/DSDOC6x/DSpace+6.x+Documentation">https://wiki.lyrasis.org/display/DSDOC6x/DSpace+6.x+Documentation</a>
    </p>

    <h3>Who else uses DSpace software to manage and showcase their digital content?</h3>
    <p>
      Cambridge, MIT, and Rice to name a few, but to see a more comprehensive list please visit: <a href="https://registry.lyrasis.org/?gv_search&filter_10=DSpace&filter_4_6&filter_3&filter_20&filter_28&mode=all">https://registry.lyrasis.org/?gv_search&filter_10=DSpace&filter_4_6&filter_3&filter_20&filter_28&mode=all</a>
    </p>

    <h3>Is IR content always openly accessible?</h3>
    <p>
      Some IR's do allow for restricted content. K-REx is a completely open access IR; however some items are under limited embargoes due to publisher or author restrictions. This means that the majority of content loaded into K-REx can be accessed freely, immediately online by anyone, anywhere.  If restrictions are required on your material please <a href="mailto:cads@k-state.edu">contact the administrator</a> to learn about available options.
    </p>

    <h3>Why Open Access?</h3>
    <p>
      Provost April Mason, on behalf of K-State, signed the <a href="https://openaccess.mpg.de/Berlin-Declaration">Berlin Declaration on Open Access to Knowledge in the Sciences and Humanities</a> on October 24, 2011, pledging that K-State will support the principles of Open Access. Consistent with the Berlin Declaration and Open Access, items loaded into K-REx are freely available on the web to all users.
    </p>
</div>
