<div class="container">
  <h1>{{ 'info.guidelines.symbols.head' | translate }}</h1>
  <p>If the title or abstract of your ETDR contains characters, mathematical operators, or other symbols that cannot be entered on a standard keyboard, these characters may not display correctly when copied and pasted into the Title and Abstract input boxes on the ETDR submission form.</p>
  <p>If you encounter this problem with your title or abstract, follow these steps:</p>
  <ol>
    <li>Open your ETDR in Word and copy the problem text. It's best to copy your entire title or abstract.
    <li>Open a new document in Word and paste the text.
    <li>In the new document, select the text and change the font to Arial Unicode MS.
    <li>Copy the text from the new document and paste it into the appropriate input box in ETDR submission form.
  </ol>

  <p>There's no need to change the font in your original ETDR document. Using the Arial Unicode MS font is only necessary for the text that will be pasted into the ETDR submission form.</p>  
  <p>Due to the developing nature of Unicode, this solution may not work in all cases.</p>
  <p>If your title is still not displaying properly we ask that you leave these symbols in the title field on the submission form.  You may also remove or replace these symbols and provide an alternative or short title on the submission form.  This may aide in increased discoverability of your paper.</p>
  <p>If your abstract is not displaying correctly within the submission form, continue with your submission. Library staff will attempt to correct the display once your ETDR has been approved by the Graduate School.</p>
  <p>If you have questions, contact the IT Service Desk, (785) 532-7722, or submit a <a href="https://support.ksu.edu/TDClient/30/Portal/KB/ArticleDet?ID=276">ticket</a>.</p>
  <!-- <center><b><a href="javascript:window.close();void(0);">Close Window</a></b></center> -->
  
</div>
