<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">K-State Research Exchange (K-REx)</h1>
        <p class="lead">The K-State Research Exchange (K-REx) provides a platform to collect, preserve, and discover the creative and scholarly works of K-State students, staff, and faculty;</p>
      </div>
    </div>
    <p> it also houses K-State's digitized historical documents and images from the University Archives and Special Collections. K-REx raises the prestige of K-State's scholarly output, increases scholarly communication, and makes materials more widely available.</p>
    <p>If you are a member of the K-State community we invite you to deposit your works to make your impact on the Wildcat Way today.</p>
  </div>
</div>
