<div class="container">
  <h1>{{ 'info.guidelines.authors.head' | translate }}</h1>
  <p>The information you enter on the submission forms will be used to index your ETDR and make it available through the K-State Research Exchange, the library catalog, and web search engines such as Google.  To ensure that your ETDR can be retrieved within these systems, it is important that you follow these guidelines when entering your name
    <ol>
      <li>Enter your name in the same form as it appears on the title page of your thesis, dissertation, or report.  For example, if you used your full middle name on the title page, be sure to enter your full middle name on the submission form.<br>
      <li>Use standard capitalization.  Do not enter your name in all upper case or all lower case letters.  For example, enter "Smith" not "SMITH."
      <li>If your name has a suffix, such as "Jr." or "III," enter this information in the First/Middle name box.  For example, enter "Donald Jr."  Be sure to include a period (.) after "Jr."  Do not include a comma before the suffix.
      <li>The submission form does not allow you to enter special characters, such as ã, ç, é, or ü.  If your name contains a special character, copy from your title page the portion of your name that contains the special character and paste it into the appropriate input box on the submission form.
      <li>For some names, it may be difficult to determine which portion of your name to enter in the Last and First/Middle name input boxes.  As a general guideline, you should enter in the Last name box that part of your name under which you would be listed in an alphabetical list, such as telephone directory, in your home country.  For example:
      <ul>
        Your Name as it appears on your title page: Donald J. Smith, Jr.<br>
        <dd>Enter in <b>Last name</b> box: Smith<br>
        <dd>Enter in <b>First name/Middle name</b> box: Donald J. Jr.<br>
        <br>
        Your Name as it appears on your title page: Joaquim Mattoso Camara<br>
        <dd>Enter in <b>Last name</b> box: Camara<br>
        <dd>Enter in <b>First name/Middle name</b> box: Joaquim Mattoso<br>
        <br>
        Your Name as it appears on your title page: Marcela Del Rio<br>
        <dd>Enter in <b>Last name</b> box: Del Rio<br>
        <dd>Enter in <b>First name/Middle name</b> box: Marcela<br>
        <br>
        Your Name as it appears on your title page: Paul Henry-Bordeaux<br>
        <dd>Enter in <b>Last name</b> box: Henry-Bordeaux<br>
        <dd>Enter in <b>First name/Middle name</b> box: Paul<br>
        <br>
        Your Name as it appears on your title page: Lim Yauw Tjin<br>
        <dd>Enter in <b>Last name</b> box: Lim<br>
        <dd>Enter in <b>First name/Middle name</b> box: Tjin Yauw<br>
        <br>
        Your Name as it appears on your title page: Wen-shun Chi<br>
        <dd>Enter in <b>Last name</b> box: Wen-shun<br>
        <dd>Enter in <b>First name/Middle name</b> box: Chi<br>
        <br>
        Your Name as it appears on your title page:  Muhammad Amin Hilal<br>
        <dd>Enter in <b>Last name</b> box: Hilal<br>
        <dd>Enter in <b>First name/Middle name</b> box: Muhammad Amin<br>
        <br>
        Your Name as it appears on your title page: Ahmed Al-Khatib<br>
        <dd>Enter in <b>Last name</b> box: Al-Khatib<br>
        <dd>Enter in <b>First name/Middle name</b> box: Ahmed<br>
        <br>
        Your Name as it appears on your title page: Abdullah bin Nuh<br>
        <dd>Enter in <b>Last name</b> box: Nuh<br>
        <dd>Enter in <b>First name/Middle name</b> box: Abdullah bin<br>
        <br>
        Your Name as it appears on your title page: Emilio Cotarelo y Mori<br>
        <dd>Enter in <b>Last name</b> box: Cotarelo y Mori<br>
        <dd>Enter in <b>First name/Middle name</b> box: Emilio<br>
        </ul>
      </ol>
    <p>If you have questions, contact the IT Service Desk, (785) 532-7722, or submit a <a href="https://support.ksu.edu/TDClient/30/Portal/KB/ArticleDet?ID=276">ticket</a>.</p>
    <!-- <center><b><a href="javascript:window.close();void(0);">Close Window</a></b></center> -->
</div>
