<div class="container">
    <h2>
        Policies on Submitting Works to K-REx
    </h2>
    <h3>Faculty and Staff Submissions</h3>

    <p>Any K-State faculty or staff member may submit their Research, Scholarly and Creative Activities, and Discovery (RSCAD) works to K-REx. Submitted works can be from any point in one's career.</p>

    <h3>Student Submissions</h3>

    <p>K-State students may request that their works are included in K-REx if <u>all</u> of the following conditions are met:</p>

    <ol>
        <li>The student must be current and affiliated with Kansas State University.</li>
        <li>A current faculty or staff member of Kansas State University is listed as a co-creator (co-author) for the work <u>or</u> a current K-State faculty member academically associated with the student, or their host department must sponsor the work.</li>
    </ol>

    <h4>Sponsoring Student Submissions</h4>
        <p>Sponsoring by a current K-State faculty member is required for any student works which are being considered for inclusion in the institutional repository if a current K-State faculty or a staff member is not listed as a co-creator/author. The act of sponsoring, as it pertains to this policy, shall be defined as a ;message, submitted by email to the Scholarly Communication team's office (<a href="mailto:cads@k-state.edu">cads@k-state.edu</a>), that the work under consideration for inclusion in K-REx is credible and is considered to be of sufficient academic quality to be deserving of being representative of Kansas State University.</p>

    <h4>Student RSCAD Works from Conferences and Capstone projects</h4>

    <p>K-REx is a great place to store and showcase student RSCAD work, especially works like conference posters and capstone projects. Students interested in showcasing their work on K-REx should explore whether they do or can meet the submission conditions listed above, and then reach out to the Libraries' Scholarly Communication Team at <a href="mailto:cads@k-state.edu">cads@k-state.edu</a>. For faculty advisors interested in working to add student work to K-REx, such as with an undergraduate RSCAD conference, they should also reach out the Scholarly Communication Team at <a href="mailto:cads@k-state.edu">cads@k-state.edu</a> to begin exploring options.</p>
    <p>Student works must be eligible to post on the open web with regard to 1) FERPA and 2) Copyright.</p>

    <h2>Withdrawing Items from K-REx</h2>
    <p>The author(s), rights holder, or K-State administration may request that content be withdrawn from the IR.  All requests to remove works from the repository must be done in writing and sent to <a href="mailto:cads@k-state.edu">cads@k-state.edu</a>.</p>

    <h3>Applicability</h3>
    <p>This policy applies to works housed in Kansas State University's institutional repository (IR) which have been created by its students, staff, and faculty.</p>

    <p>This withdrawal policy does not apply to works which are considered unique digital collections of Kansas State University Libraries and electronic theses, dissertations, and reports which have been created and submitted to the IR in fulfillment of a degree from Kansas State University.</p>

    <h3>Non-Creators & Non-Authors</h3>

    <p>Under extreme cases, the request by non-creators & non-authors to remove works from the repository may be considered.  Public access and availability may be temporarily blocked for works under review for removal pending the completion of the investigation into the matter.  Works may only be removed when an investigation has been completed and after all other options to maintain the content in the repository have been explored.</p>
    
    <h3>To Request Removal</h3>
    
    <p>Please refer Digital Millennium Copyright Act (DMCA) & Copyright Infringement Claims to <a href="https://www.k-state.edu/copyright/dmca/">https://www.k-state.edu/copyright/dmca/</a>.</p>
    
    <p>Contact the Center for the Advancement of Digital Scholarship, Kansas State University Libraries for general requests to remove works from the repository.</p>
    
    <p>Email: <a href="mailto:cads@k-state.edu">cads@k-state.edu</a></p>

    <h3>Retention Policy</h3>
    <p>The retention of digital works and items in the institutional repository (IR) shall be indefinite.  Kansas State University Libraries will attempt to keep and maintain the digital works housed in the IR for as long as it is feasible to do so, but may remove works and content from the IR at its discretion.  Reasons to remove works and content include, but are not limited to, copyright infringement, limiting the liability of Kansas State University from legal challenges, and technical considerations such as specified digital works stored in the repository are no longer readable by a reasonable level of available technology.</p>

</div>
