<div class="row row-cols-1 row-cols-md-2 mb-2 text-center">

  <div class="col">
    <div class="card h-100 mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Graduate students</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <p class="card-text card-title">Submit Electronic Thesis, Dissertation or Report (ETDR).</p>

        <p class="card-text mt-auto">
          <a routerLink="/submit" [queryParams]="{ 'collection': '6d684812-6d29-4564-8b51-f5670957936b' }" class="mt-auto">
            <button type="button" class="w-50 btn btn-primary mt-auto">Submit ETDR</button>
          </a>
        </p>
      </div>
      <div class="card-footer text-body-secondary">
        <a href="https://www.k-state.edu/grad/academics/etdr/template/">Resources</a> | <a href="https://www.k-state.edu/grad/academics/etdr/help-contact/">Help</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Faculty</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <p class="card-text card-title">Submit Research, Scholarly and Creative Activities, and Discovery (RSCAD) Works.</p>
        <p class="card-text mt-auto">
          <a href="https://kstate.qualtrics.com/jfe/form/SV_8pGts2e6MLVapKd">
            <button type="button" class="w-50 btn btn-primary">Submit RSCAD</button>
          </a>
        </p>
      </div>
      <div class="card-footer text-body-secondary">
        <a href="https://guides.lib.k-state.edu/c.php?g=1289006&p=9466391">Permissions help</a>
      </div>

    </div>
  </div>
</div>

<div class="d-grid gap-3 d-md-block mt-4">
  <div class="row">
    <div class="col d-flex align-items-stretch">
      <a routerLink="/communities/f152864b-1dab-4dae-a7d7-b5b6daacfc4b" class="d-flex w-100 mb-3 btn btn-primary btn-block align-items-center justify-content-sm-center">
          Graduate Theses, Dissertations, and Reports
      </a>
    </div>
    <div class="col d-flex align-items-stretch">
      <a routerLink="/communities/39b3c307-6d3f-4a83-aedd-e202d252a48b" class="d-flex w-100 mb-3 btn btn-primary btn-block align-items-center justify-content-sm-center">
        Works of Research, Scholary and Creative Activities and Discovery
      </a>
    </div>
    <div class="col d-flex align-items-stretch">
      <a href="https://lib.k-state.edu/research-find/digital-archives/" class="d-flex w-100 mb-3 btn btn-primary btn-block align-items-center justify-content-sm-center">
        Libraries Digital Archives
      </a>
    </div>
  </div>
</div>
