<div class="container">
  <h1>{{ 'info.guidelines.keywords.head' | translate }}</h1>

  <p>An important part of submitting your thesis or dissertation is selecting keywords and subject categories.  These elements become part of the information about your thesis or dissertation and will help other researchers to find your work.</p>

  <p>Follow these guidelines:</p>
  <ol>
    <li>You can enter up to 6 keywords for your thesis or dissertation.  You must have at least one keyword.
    <li>Capitalize the first letter of keywords.  If your keyword is a phrase, capitalize only the first letter of the first word, for example Business administration.  If your keyword is a proper name, capitalize the first letter of each word, for example, Mississippi River.
    <li>Use full phrases rather than acronyms or abbreviations.  For example, use Health Maintenance Organization (HMO) rather than HMO.
    <li>Add a keyword if the concept or concepts covers at least 20% of your dissertation or thesis.  Keywords should categorize your work as a whole, so focus on major concepts.  It's ok to disregard minor aspects of your paper.
    <li>Ask yourself what your dissertation or thesis is about. If you were searching for this topic, what keywords would help you find it?  Is there a word or phrase that would describe your paper that is not actually written within the paper's content?
    <li>You may need more than one keyword or keyword phrase to adequately cover a concept.
    <li>Keywords may be a single word or several words. Keywords may include phrases.
    <li>Avoid bringing out every single concept with separate keywords when broader keyword(s) or keyword phrase(s) will do.
    <li>If you have two or more keyword concepts that are equally important, assign multiple keywords.
    <li>Subject Categories are used to classify theses and dissertations in the database. Select a category or the categories that represent(s) the major subject area of your paper. For most theses and dissertations, it's appropriate to select only one subject category, but you can select up to three categories.
    <li>It may be useful to browse the <a href="https://pq-static-content.proquest.com/collateral/media2/documents/umi_subjectcategoriesguide.pdf" target="_new">UMI/ProQuest Subject Categories</a> list to help you think of keywords.
  </ol>
  <p>If you have questions, contact the IT Service Desk, (785) 532-7722, or submit a <a href="https://support.ksu.edu/TDClient/30/Portal/KB/ArticleDet?ID=276">ticket</a>.</p>
  <!-- <center><b><a href="javascript:window.close();void(0);">Close Window</a></b></center> -->
  
</div>
