<div class="container">
    <h1>{{ 'info.about.works.faculty.head' | translate }}</h1>
    <h2>Colleges & Schools</h2>
    <ul>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="Agriculture">College of Agriculture</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="CAPD">College of Architecture, Planning, and Design</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="CAS">College of Arts and Sciences</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="CBA">College of Business Administration</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="Education">College of Education</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="Engineering">College of Engineering</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="CHE">College of Human Ecology</a></li>
        <li><a routerLink="/handle/2097/2521">Kansas State Polytechnic Campus</a></li>
        <li><a [routerLink] = "['/info/works/faculty']" fragment="CVM">College of Veterinary Medicine</a></li>
        <li><a routerLink="/handle/2097/574">K-State Libraries</a></li>
        <li><a routerLink="/handle/2097/15342">Leadership Studies</a></li>
    </ul>

    <h3>Additional Programs, Centers, Institutes, and Offices</h3>
    <ul>
        <li><a routerLink="/handle/2097/566">Food Science Institute</a></li>
        <li><a routerLink="/handle/2097/17886">IGP Institute Staff Research and Publications</a></li>
        <li><a routerLink="/handle/2097/3181">Information Technology Assistance Center Faculty Research and Publications</a></li>
        <li><a routerLink="/handle/2097/14096">K-State Research and Extension Staff Research and Publications</a></li>
    </ul>

    <h2 id="Agriculture">College of Agriculture</h2>
    <ul>
        <li><a routerLink="/handle/2097/982">Agricultural Economics</a></li>
        <li><a routerLink="/handle/2097/1070">Agronomy</a></li>
        <li><a routerLink="/handle/2097/13516">Animal Sciences and Industry</a></li>
        <li><a routerLink="/handle/2097/821">Entomology</a></li>
        <li><a routerLink="/handle/2097/566">Food Science Institute</a></li>
        <li><a routerLink="/handle/2097/13419">Grain Science and Industry</a></li>
        <li><a routerLink="/handle/2097/1145">Horticulture and Natural Resources</a></li>
        <li><a routerLink="/handle/2097/1048">Plant Pathology</a></li>
    </ul>

<h2 id="CAPD">College of Architecture, Planning, and Design</h2>


    <ul>
        <li><a routerLink="/handle/2097/1633">Architecture</a></li>
        <li><a routerLink="/handle/2097/4238">Landscape Architecture and Regional &#38; Community Planning</a></li>
    </ul> 


<h2 id="CAS">College of Arts and Sciences</h2>


    <ul>
        <li><a routerLink="/handle/2097/32494">American Ethnic Studies</a></li>
        <li><a routerLink="/handle/2097/16805">Art</a></li>
        <li><a routerLink="/handle/2097/12220">Biochemistry and Molecular Biophysics</a></li>
        <li><a routerLink="/handle/2097/1715">Biology</a></li>
        <li><a routerLink="/handle/2097/12043">Chemistry</a></li>
        <li><a routerLink="/handle/2097/1696">Communication Studies</a></li>
        <li><a routerLink="/handle/2097/13826">Economics</a></li>
        <li><a routerLink="/handle/2097/14022">English</a></li>
        <li><a routerLink="/handle/2097/1731">Geography</a></li>
        <li><a routerLink="/handle/2097/13873">Geology</a></li>
        <li><a routerLink="/handle/2097/7512">History</a></li>
        <li><a routerLink="/handle/2097/4936">Journalism and Mass Communications</a></li>
        <li><a routerLink="/handle/2097/7873">Mathematics</a></li>
        <li><a routerLink="/handle/2097/13191">Modern Languages</a></li>
        <li><a routerLink="/handle/2097/7039">Music, Theatre, and Dance</a></li>
        <li><a routerLink="/handle/2097/16314">Philosophy</a></li>
        <li><a routerLink="/handle/2097/2209">Physics</a></li>
        <li><a routerLink="/handle/2097/15791">Political Science</a></li>
        <li><a routerLink="/handle/2097/1261">Psychological Sciences</a></li>
        <li><a routerLink="/handle/2097/2133">Sociology, Anthropology, and Social Work</a></li>
        <li><a routerLink="/handle/2097/12343">Statistics</a></li>
    </ul> 

<h2 id="CBA">College of Business Administration</h2>


    <ul>
        <li><a routerLink="/handle/2097/12061">Accounting</a></li>
        <li><a routerLink="/handle/2097/17729">Finance</a></li>
        <li><a routerLink="/handle/2097/12264">Management</a></li>
        <li><a routerLink="/handle/2097/15207">Marketing</a></li>
    </ul> 


<h2 id="Education">College of Education</h2>


    <ul>
        <li><a routerLink="/handle/2097/8040">Curriculum and Instruction</a></li>
        <li><a routerLink="/handle/2097/12427">Educational Leadership</a></li>
        <li><a routerLink="/handle/2097/1329">Special Education, Counseling, and Student Affairs</a></li>
    </ul> 


<h2 id="Engineering">College of Engineering</h2>


    <ul>
        <li><a routerLink="/handle/2097/20446">Architectural Engineering and Construction Science</a></li>
        <li><a routerLink="/handle/2097/9968">Biological and Agricultural Engineering</a></li>
        <li><a routerLink="handle/2097/2131">Chemical Engineering</a></li>
        <li><a routerLink="/handle/2097/4227">Civil Engineering</a></li>
        <li><a routerLink="/handle/2097/4942">Computer Science</a></li>
        <li><a routerLink="/handle/2097/4254">Electrical and Computer Engineering</a></li>
        <li><a routerLink="/handle/2097/18080">Engineering Education</a></li>
        <li><a routerLink="/handle/2097/16385">Engineering Retention, Diversity, and Inclusion</a></li>
        <li><a routerLink="/handle/2097/2189">Industrial and Manufacturing Systems Engineering</a></li>
        <li><a routerLink="/handle/2097/4756">Mechanical and Nuclear Engineering</a></li>
    </ul> 


<h2 id="CHE">College of Human Ecology</h2>


    <ul>
        <li><a routerLink="/handle/2097/569">Apparel, Textiles, and Interior Design</a></li>
        <li><a routerLink="/handle/2097/570">Family Studies and Human Services</a></li>
        <li><a routerLink="/handle/2097/572">Food, Nutrition, Dietetics and Health</a></li>
        <li><a routerLink="/handle/2097/571">Hospitality Management</a></li>
        <li><a routerLink="/handle/2097/12222">Kinesiology</a></li>
    </ul> 


<h2 id="CVM">College of Veterinary Medicine</h2>


    <ul>
        <li><a routerLink="/handle/2097/13874">Anatomy and Physiology</a></li>
        <li><a routerLink="/handle/2097/13329">Clinical Sciences</a></li>
        <li><a routerLink="/handle/2097/1904">Diagnostic Medicine/Pathobiology</a></li>
    </ul> 

</div>