<div class="container">
    <h1>{{ 'info.about.works.student.head' | translate }}</h1>
    <p>The following collections contain digital scholarship produced by K-State students</p>
    <ul>
        <li>
            <a routerLink="/handle/2097/17903">LARCP Design Studio and Class Project Reports</a>
        </li>
        <li>
            <a routerLink="/handle/2097/17904">LARCP Theses and Masters Projects & Reports</a>
        </li>
        <li>
            <a routerLink="/handle/2097/15125">History 586 - Advanced Seminar in History</a>
        </li>
        <li>
            <a routerLink="/handle/2097/4163">Chapman Center for Rural Studies</a>
        </li>
        <li>
            <a routerLink="/handle/2097/18834">Curriculum and Instruction Student Papers</a>
        </li>
        <li>
            <a routerLink="/handle/2097/4">K-State Electronic Theses, Dissertations, and Reports: 2004 -</a>
        </li>
        <li>
            <a routerLink="/handle/2097/4234">K-State Electronic Theses, Dissertations, and Reports: pre-2004</a>
        </li>
        <li>
            <a routerLink="/handle/2097/567">Food Science Institute Students' Papers and Presentations</a>
        </li>
        <li>
            <a routerLink="/handle/2097/9245">K-State Research Forum Student Presentations</a>
        </li>
        <li>
            <a routerLink="/handle/2097/1064">Master of Public Health Student Reports and Theses</a>
        </li>
    </ul>
</div>
